<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout (~{::body},'owners')}">

<body>
<h2>Owners</h2>

<table class="table table-striped">
  <thead>
  <tr>
    <th>Id</th>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Pets</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="owner : ${owners}">
    <td th:text="${owner.id}">Id</td>
    <td th:text="${owner.firstName}">First</td>
    <td th:text="${owner.lastName}">Last</td>
    <td>
      <div th:each="pet : ${owner.pets}">
        <span th:text="${pet.name}"></span>
        <span th:if="${pet.petType != null}" th:text="'(' + ${pet.petType.name} +  ')'"></span>
      </div>
    </td>
  </tr>
  </tbody>
</table>

</body>

</html>